#navbar {
    color: blue;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 500px;
    padding: 10px 14px;
    background: var(--sidebar-color);
    transition: var(--tran-05);
    z-index: 100;
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: black;
}
.icon {
    float: right;
}